<div [ngClass]="showError ? 'error-message' : 'hide-content'">
  <img height="450px" src="../../assets/error.png" />
  <p>
    Error occurred! <br />
    Error message: {{ errorMsg }}
  </p>
</div>
<loading-spinner class="loading-spinner" [show]="showSpinner"></loading-spinner>
<div [ngClass]="showSpinner || showError ? 'hide-content' : 'show-content'">
  <app-filter-container
    class="filter-container"
    [vehTypes]="uniqueVehTypes"
    (onFiltersChange)="onFiltersChange($event)"
  ></app-filter-container>

  <google-map height="100vh" width="100%" #map>
    <map-marker-clusterer [imagePath]="markerClustererImagePath">
      <map-marker
        *ngFor="let marker of markers; let i = index"
        [position]="marker.position"
        [icon]="marker.iconColor"
        (mapClick)="openDialog(vehicles.objects[i])"
      ></map-marker>
    </map-marker-clusterer>
  </google-map>
</div>
