.error-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: red;
  height: 100%;
  background-color: #3e3e3e;
  font-size: 24px;
  line-height: 34px;
}

.hide-content {
  display: none;
}

a {
  color: #f77c26;
  text-decoration: none;
}
