<mat-slide-toggle class="filter" (click)="checkAvaliability()"
  >Show only avaliable vehicles</mat-slide-toggle
>

<div class="filter">
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    step="1"
    min="0"
    max="100"
    aria-label="units"
    (click)="checkBatteryLevel()"
    [(ngModel)]="batteryLevel"
  ></mat-slider>
  <label>Minimum battery level</label>
</div>

<mat-form-field appearance="fill">
  <mat-label>Vehicle type</mat-label>
  <mat-select
    (selectionChange)="checkVehicleType($event)"
    [(ngModel)]="vehicleType"
  >
    <mat-option *ngFor="let type of vehTypes" [value]="type" ngDefaultControl>
      {{ type }}
    </mat-option>
  </mat-select>
</mat-form-field>
